In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import preprocessing, neighbors
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from catboost import CatBoostClassifier

In [2]:
df = pd.read_csv('datasets/train.csv')
df.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,labels
0,-0.276515,-0.424429,1.344997,-0.012283,0.076230,1.076648,0.182198,3,0,1,0,0,0,0,10,2,1
1,0.853573,0.150991,0.503892,-0.979179,-0.569351,-0.411453,-0.251940,4,1,2,0,1,0,0,0,3,0
2,0.947747,-0.173832,1.825628,-0.703478,0.076230,-0.411453,-0.251940,6,1,2,0,0,0,0,5,3,0
3,0.853573,-0.381404,0.984523,-0.039464,-0.569351,-0.411453,-0.251940,4,0,2,0,1,0,0,5,3,0
4,1.324443,1.590527,-1.178318,-0.097711,-0.246560,-0.411453,-0.251940,0,1,1,0,0,0,0,8,3,0

In [3]:
df.shape

(33908, 17)

In [4]:
# X = np.array(df.drop(['labels'], axis=1))
# y = np.array(df.labels)

In [5]:
X = df.drop(['labels'], axis=1)
y = df.labels

In [6]:
#X=X.drop(['feature_1'],axis=1)

In [7]:
#X=X.drop(['feature_5'],axis=1)

In [8]:
#X=X.drop(['feature_6'],axis=1)

In [9]:
X.shape

(33908, 16)

In [10]:
# blank=[]
# for i in range(0,17):
#     if(np.var(X[i], axis=0)>=5):
#         blank.append(i)
# print (blank)

In [11]:
pd.unique(df.feature_7)

array([ 3,  4,  6,  0,  9,  8,  7,  1, 11, 10,  2,  5], dtype=int64)

In [12]:
pd.unique(df.feature_7).shape

(12,)

In [13]:
df.groupby('feature_7')['labels'].count()

feature_7
0     3891
1     7286
2     1118
3      938
4     7137
5     1683
6     1164
7     3094
8      700
9     5691
10     988
11     218
Name: labels, dtype: int64

In [14]:
X.shape

(33908, 16)

In [15]:
X_train, X_test, y_train , y_test = train_test_split(X,y,test_size=0.1)

In [16]:
model_xg = XGBClassifier()
model_xg.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [17]:
accuracy_xg = model_xg.score(X_test,y_test)
accuracy_xg

0.9062223532881156

In [18]:
y_pred = model_xg.predict(X_test)

In [19]:
from sklearn.metrics import f1_score

In [20]:
f1_score(y_test, y_pred, average='binary')

0.4628378378378378

In [28]:
Test = pd.read_csv('datasets/test.csv')
Test.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15
0,0.571051,0.406843,0.984523,0.011016,-0.569351,-0.411453,-0.251940,0,1,1,0,0,0,0,11,3
1,-1.124080,-0.166935,0.503892,-0.322932,0.721811,0.547323,0.182198,0,2,1,0,0,0,0,5,1
2,0.476877,0.145079,-0.577529,-0.691828,-0.246560,-0.411453,-0.251940,0,1,1,0,0,0,0,1,3
3,1.606965,-0.447419,1.825628,-0.983062,7.177616,-0.411453,-0.251940,1,1,0,0,1,0,0,5,3
4,-0.935732,-0.364653,-1.178318,-0.322932,0.076230,-0.411453,-0.251940,8,2,1,0,1,0,2,8,3

In [29]:
#Test=Test.drop(['feature_1'],axis=1)

In [30]:
# Test=Test.drop(['feature_5'],axis=1)

In [31]:
# Test=Test.drop(['feature_6'],axis=1)

In [32]:
Test.shape

(11303, 16)

In [33]:
result = model_xg.predict(Test)
result

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [34]:
result = pd.DataFrame(result, columns=['labels']).to_excel('result2.xlsx')